# Forward all messages to a remote server using TCP.
# The linked-list queue prevents blocking if the server is temporarily unreachable.
action(
    type="omfwd"
    protocol="tcp"
    target="{{ groups['wazuh_manager'][0] }}"
    port="{{ syslog_over_tls_port }}"
    queue.type="linkedList"
    StreamDriver="gtls"
    StreamDriverMode="1"
    StreamDriverAuthMode="x509/name"
    StreamDriver.PrioritizeSAN="on"
    StreamDriver.CheckExtendedKeyPurpose="on"
    StreamDriver.CAFile="/etc/ssl/certs/wazuh-ca.pem"
    StreamDriver.KeyFile="/etc/rsyslog.d/rsyslog-client.key"
    StreamDriver.CertFile="/etc/rsyslog.d/rsyslog-client.crt"
    StreamDriverPermittedPeers="{{ groups['syslog_server'][0] }}"
)