---
- name: install rsyslog package
  ansible.builtin.package:
    name:
      - rsyslog
      - rsyslog-gnutls
    state: present

- ansible.builtin.include_tasks: tls.yaml
  vars:
    key: /etc/rsyslog.d/rsyslog-server.key
    crt: /etc/rsyslog.d/rsyslog-server.crt
    cn: 'rsyslog - {{ inventory_hostname }}'
    eku: ['serverAuth']

- name: create /etc/wazuh folder
  ansible.builtin.file:
    path: '{{ syslog_server_file | dirname }}'
    state: directory
    owner: syslog
    group: adm
    mode: '0755'

- name: create tcptls.conf file
  ansible.builtin.template:
    src: tcptls.conf.j2
    dest: /etc/rsyslog.d/tcptls.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart rsyslog

- name: start rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: started
    enabled: yes
