# Define a ruleset for TCP input logs
module(load="imtcp")

ruleset(name="syslog-server") {
    action(
        type="omfile"
        File="{{ syslog_server_file }}"
        template="RSYSLOG_TraditionalFileFormat"
    )
}

# Bind TCP input to the above ruleset
input(
    type="imtcp"
    port="{{ syslog_over_tls_port }}"
    ruleset="syslog-server"
    streamDriver.Name="gtls"
    streamDriver.Mode="1"
    streamDriver.AuthMode="x509/name"
    streamDriver.PrioritizeSAN="on"
    streamDriver.checkExtendedKeyPurpose="on"
    streamDriver.CAFile="/etc/ssl/certs/wazuh-ca.pem"
    streamDriver.KeyFile="/etc/rsyslog.d/rsyslog-server.key"
    streamDriver.CertFile="/etc/rsyslog.d/rsyslog-server.crt"
    permittedPeer=[{{ groups['syslog_client'] | map('to_json') | join(',') }}]
)
