server.host: 0.0.0.0
server.port: {{ dashboard_port }}
opensearch.hosts:
{% for node in groups['wazuh_indexer'] %}
  - https://{{ hostvars[node].inventory_hostname }}:{{ indexer_port }}
{% endfor %}
opensearch.ssl.verificationMode: certificate
opensearch.requestHeadersAllowlist: ["securitytenant","Authorization"]
opensearch_security.multitenancy.enabled: false
opensearch_security.readonly_mode.roles: ["kibana_read_only"]
server.ssl.enabled: true
server.ssl.key: "/usr/share/wazuh-dashboard/certs/dashboard.key"
server.ssl.certificate: "/usr/share/wazuh-dashboard/certs/dashboard.crt"
opensearch.ssl.certificateAuthorities: ["/usr/share/wazuh-dashboard/certs/root-ca.crt"]
uiSettings.overrides.defaultRoute: /app/wz-home
# Session expiration settings
opensearch_security.cookie.ttl: 900000
opensearch_security.session.ttl: 900000
opensearch_security.session.keepalive: true